body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-navbar {
  background-color: #05668d;
}

.info-and-search {
  padding: 20px;
  background-color: #00a896;
}

.info-text {
  color: white;
}

.my-tweet {
  margin: 20px;
  display: inline-block;
}

.tweet-container {
  text-align: center;
    background-color: #f0f3bd;
}

.my-card {
    border: 1px solid #787a5f;
}