body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-navbar {
  background-color: #B3A369;
}

.info-and-search {
  border-top: 2px white solid;
  padding: 20px;
  background-color: #B3A369;
  border-bottom: 2px #545454 solid;
}

.info-text {
  color: white;
}

.my-tweet {
  margin: 20px;
  display: inline-block;
}

.tweet-container {
  text-align: center;
  background-color: #E5E5E5;
  border-bottom: 2px #545454 solid;
  border-top: 2px #545454 solid;
}

.my-card {
    border: 1px solid #787a5f;
}

.my-bar {
  display: inline-block;
}
.made-with-love {
  padding: 10px;
  text-align: center;
  background-color: #D3D3D3;
  font-family: "Courier New";
  height: 5vh;
}

.my-chart {
  padding: 20px;
  background-color: #E5E5E5;
  width: auto;
  border-right: 2px #545454 solid;
}

.my-chart-offset {
  margin-left: 200px;
}

.container-heading {
  padding: 20px;
}

.full-app {
  height: 100vh;
}

.container-for-stats {
  background-color: #E5E5E5;
  width: auto;
}

.my-score-div {
  padding: 20px;
  width: auto;
}

.score-val {
  font-size: 250px;
}